<!-- Team Section -->
<section id="team" class="bg-light-gray">
  <p>
    Meet Carpentries staff and others who work with us.
  </p>

  <div class="container">
    <div class="row">
      {% assign et = site.data.team.people | where: "et", true %}
      {% assign staff = site.data.team.people | where: "et", false %}
      <div id="executive-team" class="col-lg-12 text-center">
      {% for member in et %}
      {% include _team_profile.html %}
      {% endfor %}
      </div>
    </div>
    <div class="row">
      <div id="staff" class="col-lg-12 text-center">
      {% for member in staff %}
      {% include _team_profile.html %}
      {% endfor %}
      </div>
    </div>


  {% if site.data.strategic_partners.people %}
  <h2 class="section-heading">The Carpentries Strategic Partners</h2>
    <div class="container">
      <div class="row">
        <div id="strategic-partners" class="col-lg-12 text-center">
          {% assign consultants = site.data.strategic_partners.people %}
          {% for member in consultants %}
          {% include _team_profile.html %}
          {% endfor %}
        </div>
      </div>
  {% endif %}


</section>
